/*font-family: 'Open Sans', sans-serif;
font-family: 'Merriweather', serif;*/

body {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

h1,h2,h3,h4 {
  font-family: 'Merriweather', serif
}

a:link,a:visited,a:hover,a:active {
  color: #000;
}

@media screen and (max-width: 1920px) {
  p,.btn,input,div,span,h4 {
    font-size: 16px;
  }
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 52px;
  }
  h3 {
    font-size: 16px;
  }
}

/*@media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 100%;
  }
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
}*/

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 14px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 14px;
  }
}

.dark_line {
  background-color:#000000;
  height:3px;
  opacity: 0.75;
  margin-top: 0px;
}

.medium_line {
  background-color:#000000;
  height:3px;
  opacity: 0.75;
  margin-top: 0px;
}

.dark_small_line {
  background-color:#000000;
  margin-bottom: 40px;
}

.light_line {
  background-color:#000000;
  height:1px;
  opacity: 0.25;
}

.light_line_main_story {
  margin-bottom: 35px;
}

.lightest_line {
  background-color:#000000;
  height:1px;
  opacity: 0.10;
}

.main_heading {
  font-weight: 900;
  font-style: italic;
}

.navbar-toggle {
  margin-top: -45px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.main_storyhead_heading {
  font-weight: bold;
  margin-top: -30px;
  text-align: center;
}

.story_heading {
  margin-top: -10px;
  font-weight: 600;
}

.sub_heading {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -5px;
}

.under_date {
  font-size: 60%;
}

.under_date_line {
  margin-bottom: 10px;
  margin-top: 10px;
}

.second_story {
  padding-top: 20px;
}

.view_all {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  opacity: 0.75;
  font-weight: bold;
}

.inlarged_heading {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 32px;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .inlarged_heading {
    font-size: 16px;
  }
}

.inlarged_heading_smaller {
  font-weight: 100;
  font-size: 20px;
  margin-left: -75px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inlarged_heading_smallest {
  font-weight: 100;
  font-size: 16px;
  margin-left: -75px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.small_block_text {
  margin-top: -325px;
}

.subheading_caps {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 20px;
}
